{
    "extends": "@apify",
    "rules": {
        "no-confusing-arrow":"off",
        "camelcase": "off",
        "no-continue": "off",
        "no-throw-literal": "off",
        "no-console": "off"
    }
}
